$primary: #3caea3;
$secondary: #f6d55c;
$font:#3f5250;
button {
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}
.primer {
  border-top: none;
  border-bottom: none;
  border-right: 3px solid $secondary;
  border-left: 3px solid $secondary;
  background-color: $primary;
  color: $secondary;
}
.second {
  background-color: $secondary;
  color: $primary;
  border: 2px solid $secondary;
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}
